extends layouts/layout.pug

block content
    form(action="/add-product", method="post", enctype="application/x-www-form-urlencoded")
        div.input-field
            input(type="text", name="name", value="")
        div.input-field
            input(type="number", name="price", value="")
        select(name="category") 
            each category in categories
                option(value=category._id)= category.name
        div.input-field
            input(type="file", name="image")
        input(type="submit", value="Submit")

    if (success)
        p=success