@mixin bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item {
  @include bg();
  &:nth-child(1) {
    background-image: url("./slider-image1.jpg");
  }
  &:nth-child(2) {
    background-image: url("./slider-image2.jpg");
  }
}

.homepage-slider,
.bg-section {
  background: url("./bg.jpg");
}

.with-bg {
  background-image: url("./bg2.jpg");
  @include bg();
}
