ul {
  list-style-type: none;
  padding-left: 0;
}

.w-40 {
  width: 40%;
}
.fs-0 {
  font-size: 3.5rem;
}
.w-35 {
  width: 35%;
}
.lh-0 {
  line-height: 0;
}
.w-60 {
  width: 60%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

@mixin font-arrow {
  border: none;
  outline: none;
  appearance: none;
  background: unset;
}