.box {
  /* padding: 4rem 2rem; */
  border-radius: 0.5rem;
}

.orange { background-color: #FAC251; } .salmon { background-color: #D6DFE6; }
.pink { background-color: #F48A8A;} .brown { background-color: #F5B17C;}
.dark-orange { background-color: #ED8710 } .green { background-color: #4CBEA0;}