.box {
  padding: 2rem;
  border-radius: 0.5rem;
}

.orange {
  background-color: #fac251;
}
.salmon {
  background-color: #d6dfe6;
}
.pink {
  background-color: #f48a8a;
  background-image: url("../../assets/images/polka-dots.png");
}
.brown {
  background-color: #f5b17c;
}
.dark-orange {
  background-color: #ed8710;
}
.green {
  background-color: #4cbea0;
}
