@use "./style/navbar.scss";
@use "./style/utilities";
@use "./style/homepage.scss";
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Righteous&family=Rock+Salt&display=swap");

:root {
  --bg-color-primary: #70d2b6;
  --bg-color-primary-darker: #51b4a2;
  --bg-color-secondary: #fac251;
  --bg-color-secondary-darker: #d79e3b;
  --bg-color-tertiary: #d9d9d9;
  --bg-color-tertiary-darker: #bebebe;

  --text-color-primary: #fff;
  --text-color-secondary: #2c4a6f;
  --text-color-tertiary: #000;
  --text-color-grey: #747474;

  --text-size-sm: 0.85rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.125rem;

  --radius: 0.5rem;
  --border-radius: 0.9375rem;
  --btn-border-radius: 0.625rem;

  --box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.25);

  --dark-grey: #535353;
  --grey: #d9d9d9;
  --light-grey: #f3f3f3;

  --red: #c22a2a;

  --primary-text: "Mulish", sans-serif;
  --font-text: var(--fa-font-solid);
}

body {
  overflow-x: hidden;
  font-family: var(--primary-text);
}
